.carousel-inner {
    max-height: 39rem;        
}

@media (max-width:768px) {
    #intro {
        width: 90% !important;
    }

}

footer {
    background: black;
    min-height: 100px;
}

footer p {
    color: white;
    text-align: center;
}

#iconos i {
    font-size: 26px;
    padding: 0 8px;
    color: white;
}

.cmn-divfloat {
    position: fixed !important;
    bottom: 45px;
    right: 15px;
    display: none;
    z-index: 9999;

}

.cmn-btncircle {
    width: 40px !important;
    height: 40px !important;
    padding: 6px 0px;
    border-radius: 15px;
    font-size: 18px;
    text-align: center;
}

#perfil {
    width: 35%;
    align: center !important;
}

.navbar-logo {
    display: inline-block;
    vertical-align: middle;
    width: 45px;
}

.navbar-logo img {
    display: block;
    width: 100%;
    height: auto;
}

.navbar-toggler {
    border: none !important;
}

.navbar-toggler:focus {
    box-shadow: none !important;
}

.modal-content {
    max-width: 85%;
    margin: auto;
}

.alert{
    position: fixed;
    z-index: 9999;    
}



